
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 position-fixed" style="height: 100vh;">
            <div class="panel panel-default" style="height: 100%;">
                <div class="panel-body">
                    <img src="assets\images\UNADAC.png" alt="Descripción de la imagen">
                    <div class="text-center">
                        <br>
                        <div class="dropdown">
                            <button class="dropbtn btn-block" style="width: 200px;">Introducción <i class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                                <a href="/actividad1">Actividad 1</a>
                                <a href="#">Actividad 2</a>
                            </div> 
                        </div>
                        <br>
                        <br>
                        <div class="dropdown">
                            <button class="dropbtn btn-block" style="width: 200px;">Explicación <i class="fa fa-caret-down"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-10 offset-md-2">
            <div class="panel panel-default panel-text">
                <div class="panel-heading text-center">
                    <span>Comunicación escrita</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

